@import './todo-item';

.SidebarRight {
    .todolist-header {
        margin-bottom: 8px;
        padding: 16px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
        height: 65px;

        .todolist-header__dropdown {
            padding-top: 4px;
            height: 28px;
            border-radius: 4px;
            font-family: Metropolis, sans-serif;
            border: 0px;
            background: transparent;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 16px;

            &:hover {
                background: rgba(var(--center-channel-color-rgb), 0.08);
            }
        }

        .todolist-header__heading {
            font-size: 16px;
            font-weight: 600;
            font-family: 'Metropolis', sans-serif;
        }

        .icon-chevron-down {
            margin-left: 2px;
            font-size: 18px;
        }
    }

    .todolist-tabs {
        display: flex;
        border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
        margin-bottom: 16px;

        .todolist-tab {
            cursor: pointer;
            flex: 1;
            font-weight: 600;
            padding: 16px;
            text-align: center;

            &:hover {
                background-color: var(--center-channel-color-04);
            }

            &:active {
                background-color: var(--center-channel-color-08);
                color: var(--center-channel-color);
            }

            &.selected {
                border-bottom: 3px solid var(--button-bg);
                color: rgba(var(--button-bg-rgb), 1);
            }
        }
    }

    .todo-action-buttons {
        margin: 8px 0;
        padding: 2px;
        display: flex;

        &:empty {
            display: none;
        }

        .btn {
            flex-grow: 1;
            text-align: center;
            height: 100%;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .todo-separator {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        opacity: 0.65;
        margin: 8px 0 4px;
        align-items: center;
        cursor: pointer;
        padding: 4px 10px 4px 4px;
        display: inline-flex;
        margin-left: 12px;
        border-radius: 4px;

        &:hover {
            background-color: rgba(var(--center-channel-color-rgb), 0.08);
            opacity: 1;
        }

        .CompassIcon {
            font-size: 18px;
            margin-right: 4px;
        }
    }
}

.post__content {
    .todo-post {
        .btn {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
