@import './todo-item';

.SidebarRight {
    .section-header {
        padding: 15px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: var(--center-channel-color-04);
        }

        &:active {
            background-color: var(--center-channel-color-08);
        }

        i {
            color: var(--center-channel-color);
        }
    }

    .header-menu {
        padding: 15px;
        display: flex;

        .btn.btn-primary {
            cursor: pointer;
            flex-grow: 1;
            text-align: center;
            height: 100%;
            margin-left: 5px;
            margin-right: 5px;
            color: var(--center-channel-color-56);
            background-color: unset;
            box-shadow: unset;
            border: 3px solid transparent;

            &:hover {
                background-color: var(--center-channel-color-04);
            }

            &:active {
                background-color: var(--center-channel-color-08);
                color: var(--center-channel-color);
            }

            &.selected {
                background-color: var(--center-channel-color-08);
                border-bottom: 3px solid var(--button-bg);
                color: var(--center-channel-color);
            }
        }
    }

    .action-buttons {
        padding: 2px;
        display: flex;

        .btn {
            flex-grow: 1;
            text-align: center;
            height: 100%;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .todo-separator {
        font-size: 130%;
        color: var(--link-color);
        padding-left: 5px;
    }
}

.post__content {
    .todo-post {
        .btn {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}
